.kavan_admin_main_container {
  display: flex;
  flex-direction: column;
  height: 84rem;
  flex: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 0rem 5rem;
}

.kavan_admin_main_container::-webkit-scrollbar {
  width: 0 !important;
}

.kavan_admin_main_container {
  overflow: -moz-scrollbars-none;
}

.kavan_admin_main_container {
  -ms-overflow-style: none;
}

.kwn_appointments_type_top_view {
  display: flex;
  flex-direction: row;
  margin-right: -5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  /* height: 10rem; */
}

.kwn_appointments_type_top_view::-webkit-scrollbar {
  width: 0 !important;
}

.kwn_appointments_type_top_view {
  overflow: -moz-scrollbars-none;
}

.kwn_appointments_type_top_view {
  -ms-overflow-style: none;
}

.kwn_appointments_type_view {
  padding: 1.5rem 3rem;
  /* width: 14.4rem; */
  /* height: 5rem; */
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 3rem;
  cursor: pointer;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-bottom: 1rem;
}

.kwn_appointments_type_view h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}

.kwn-appointsments-appointment_view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 30%;
  /* min-height: 60%; */
  padding-bottom: 5rem;
}
.kwn-upcoming-appointment-calender-tool_tip-main_container {
  display: flex;
  flex-direction: row;

  width: 40rem;
  /* height: 18rem; */
}
.kwn-side_divider-calender {
  width: 0.5rem;
  height: 16rem;
  margin: 2rem 0rem;
  background: #006039;
  border-radius: 10px;
}

.kwn-appointment-calender-tool_tip-container {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.kwn-appointment-up_coming-tool_tip-title h1 {
  font-size: 1.6rem;
  line-height: 19px;
  font-family: var(--font-family);
}
.kwn-appointment-calender-tool_tip-date-main_container {
  display: flex;
  flex-direction: row;
  width: 36rem;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.kwn-appointment-calender-tool_tip-date-container img {
  width: 2rem;
  height: 2rem;
}

.kwn-appointment-calender-tool_tip-date-container h3 {
  margin-left: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: var(--font-family);
  color: #666666;
}
.css-xya8j6-MuiButtonBase-root-MuiButton-root.TodayButton-button {
  color: #006039 !important;
  font-size: 1.2rem !important;
  border: 1px solid #006039 !important;
}
.css-1675apn-MuiTableCell-root .Cell-highlightedText {
  color: #006039 !important;
}
.css-vnscjq-MuiButtonBase-root-MuiButton-root.OpenButton-textButton {
  font-size: 1.4rem !important;
  color: #006039 !important;
}
.css-71a9mb-MuiButtonBase-root-MuiIconButton-root.NavigationButton-button {
  color: #006039 !important;
}
.css-1675apn-MuiTableCell-root .Cell-dayOfWeek {
  font-size: 1.4rem !important;
}
.css-1fbp63r .Label-text {
  font-size: 1.2rem !important;
}
.css-gyiown .VerticalAppointment-title {
  font-size: 1.4rem !important;
}
.css-gyiown .VerticalAppointment-textContainer {
  font-size: 1rem !important;
}

.css-3nejl.Appointment-appointment {
  width: 35% !important;
  background-color: var(--color-theme) !important;
}

/* -------Media Query------ */

@media screen and (max-width: 480px) {
  .kavan_admin_main_container {
    padding: 0rem 2rem;
  }

  .kwn_appointments_type_view {
    margin-top: 2rem;
    margin-right: 1rem;
  }
}
