.kwn-sign_in-main_container {
    display: flex;
    align-items: center;
    padding-top: 8rem;
    padding-left: 9.6rem;
    padding-right: 9.6rem;
    padding-bottom: 10rem;
    flex-direction: column
}

.kwn-sign_in-title_container {
    margin-bottom: 6rem;
}

.kwn-sign_in-title_container h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.9rem;
    color: #2D292A;
}

.kwn-sign_in-title_container h2 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;
    color: #2D292A;
    margin-top: 1rem;
}

.kwn-sign_in-form_container {
    display: flex;
    flex-direction: column;
}

.kwn-sign_in-terms_container {
    width: 40rem;
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.kwn-sign_in-terms_container img {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
}

.kwn-sign_in-terms_container p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #2D292A;
}

.kwn-sign_in-terms_container span {
    text-decoration: underline;
}

.kwn-sign_up-Button_container {
    margin-left: 0.5rem;
}

.kwn-sign_in-main_container h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: #2D292A;
    padding-top: 5rem;
}

.kwn-sign_in-social_container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 43rem;
    margin-top: 5rem;
}

.kwn-sign_in-social_container div {
    display: flex;
    align-items: center;
    border: 0.1rem solid #666666;
    border-radius: 5rem;
    width: 19.5rem;
    padding: 0.8rem 0rem;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

.kwn-sign_in-social_container p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #2D292A;
}

.kwn-sign_in-social_container img {
    width: 3rem;
    height: 3rem;
}