.kwn-input_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 40rem;
}

.kwn-input_container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: #666666;
  margin-bottom: 0.3rem;
}

.kwn-input_container_input {
  width: 40rem;
  border-radius: 20rem;
  border: 1px solid #666666;
  padding: 2.5rem 2.8rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kwn-input_container input {
  width: 100%;
  outline: none;
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #666666;
}

.kwn-input_container img {
  width: 2rem;
  height: 2rem;
}

.kwn-input_container textarea {
  width: 40rem;
  height: 18rem;
  border-radius: 1.2rem;
  border: 1px solid #666666;
  padding: 1.5rem 2.8rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;
  outline: none;
  resize: none;
  line-height: 1.8rem;
  color: #666666;
}

.kwn-dropdown_container {
  position: absolute;
  border: 1px solid #666666;
  background-color: rgb(255, 255, 255);
  top: 7.8rem;
  right: 0;
  width: 40rem;
  border-radius: 1rem;
  /* height: 20rem; */
  max-height: 20rem;
  z-index: 10;
  overflow: scroll;
  padding: 1rem 2rem;
  cursor: pointer;
}

.kwn-dropdown_container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: #666666;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 480px) {
  .kwn-input_container_input {
    width: 33rem;
  }
  .kwn-input_container {
    width: 33rem;
  }
  .kwn-input_container textarea {
    width: 33rem;
  }
  .kwn-input_container p {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 350px) {
  .kwn-input_container_input {
    width: 30rem;
  }
  .kwn-input_container {
    width: 30rem;
  }
  .kwn-input_container textarea {
    width: 30rem;
  }
}
