.kwn-comp-small-btn {
  width: 7rem;
  height: 2rem;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-width: 1px; */
  /* border: 0.7px solid #006039; */
  cursor: pointer;
}

.kwn-comp-small-btn p {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  font-family: var(--font-family);
}
