.kavan__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 9.6rem;
  background-color: var(--color-theme);
}

.kavan__navbar-links_logo {
  margin-right: 3.2rem;
}

.kavan__navbar-links_logo img {
  width: 114px;
  height: 42px;
}

.kavan__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.kavan_navbar-links_container {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.kavan__navbar-links_text {
  color: white;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin: 0rem 3.2rem;
  cursor: pointer;
  padding-bottom: 1.5rem;
  border-bottom-width: 2px;
}

.kavan__navbar-links_button {
  background-color: white;
  color: #414141;
  padding: 1.6rem 3.2rem;
  border-radius: 1.4rem;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 25px;
  margin: 0rem 3.2rem;
  cursor: pointer;
  outline: none;
  border: none;
  /* width: 25.9rem; */
  height: 4.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kavan__navbar_closeIcon {
  width: 20px;
  height: 20px;
}

.kavan__navbar_menuIcon {
  width: 30px;
  height: 30px;
}

.kavan__navbar-menu {
  margin-left: 1.6rem;
  display: none;
  position: relative;
}

.kavan__navbar-menu img {
  cursor: pointer;
}

.kavan__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  z-index: 100;
  text-align: end;
  background-color: var(--color-theme);
  padding: 3.2rem;
  position: absolute;
  top: 35px;
  right: 0;
  margin-top: 2.4rem;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1260px) {
  .kavan__navbar-links {
    display: none;
  }

  .kavan__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .kavan__navbar {
    padding: 1.6rem 3.2rem;
  }
}

@media screen and (max-width: 550px) {
  .kavan__navbar {
    padding: 1.6rem;
  }
}

.kavan__navbar-menu_container_links p {
  margin: 1.6rem;
}

.kavan__navbar-menu_container_links button {
  margin: 1.6rem;
}
